* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

.navbar-brand {
  margin: 1px;
}
header {
  display: grid;
}

.carousel-item {
  max-height: 600px;
}
main {
  margin: 2rem auto;
  max-width: 80rem;
  padding: 0 1rem;
}
.text-about {
  justify-content: center;
  display: inline;
  padding-top: 20px;
}
.text1 {
  justify-content: center;
  display: flex;
  font-size: 40px;
  text-align: center;
}

.text-news {
  padding-top: 25px;
  padding-bottom: 20px;
  justify-content: center;
  display: flex;
  font-size: 40px;
  text-align: center;
}

.nav-link.active {
  margin-left: 15px;
  cursor: pointer;
}

.text2 {
  justify-content: center;
  display: flex;
  font-size: 22px;
}
.accordion-button {
  font-size: 24px;
}

.btn {
  display: inherit;
  justify-content: center;
}

.clickss {
  text-decoration: none;
  color: black;
}

.card-img-center {
  padding-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  max-width: 125px;
}
.mini-logo {
  display: flex;
  justify-content: center;
}
.card1 {
  border-radius: 5%;
  transition: 0.4s;
}

.card1:hover {
  filter: brightness(0.8);
  border-radius: 13% 13%;
  transition: 0.4s;
}
.card-center {
  width: 1000px;
  display: flex;
  justify-content: space-around;
}
.card-about {
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.map {
  width: 500px;
  height: 300px;
}

@media (max-width: 425px) {
  .card-about {
    max-width: 286px;
  }
  .text1 {
    font-size: 50px;
  }
}

:root {
  --dark-color: #111;
  --light-color: #eee;
}

body.dark-mode {
  background-color: var(--dark-color);
  color: var(--light-color);
}

body.light-mode {
  background-color: var(--light-color);
  color: var(--dark-color);
}

body.dark-mode a {
  color: var(--light-color);
}

body.light-mode a {
  color: var(--dark-color);
}

body.dark-mode button {
  background-color: var(--light-color);
  color: var(--dark-color);
}

body.light-mode button {
  background-color: var(--dark-color);
  color: var(--light-color);
}
